// -------------------
// Breakpoints
// -------------------
$mq_vars = {
    bp-2: '(min-width: 20em)' // 320px
    bp-3: '(min-width: 30em)' // 480px
    bp-4: '(min-width: 40em)' // 640px
    bp-5: '(min-width: 50em)' // 800px
	bp-6: '(min-width: 60em)' // 960px
    bp-7: '(min-width: 70em)' // 1120px
}

// -------------------
// Typefaces
// -------------------
$national = 'National 2 Web'
$national-narrow = 'National 2 Narrow Web'
$tiempos = 'Tiempos Text Web'
$tiempos-hed = 'Tiempos Headline Web'
$atlas = 'Atlas Grotesk Web'
$publico = 'Publico Text Web'
$poppins = 'Poppins', Helvetica, Arial, sans-serif

$sans-fb = Helvetica, Arial, sans-serif
$serif-fb = Georgia, Times, serif
$sans = $national, $sans-fb
$sans-display = $poppins
$serif = $tiempos, $serif-fb
$serif-display = $tiempos-hed, $serif-fb
$mono = Menlo, Consolas, Monaco, 'Courier New', monospace

// z-index
$z-index = {
    bottom: -100
    middle: 0
    top: 100
    overlay: 1000
}

// Color
$black = #000
$off-black = #282828
$gray-dark = #5b5b5b
$gray = #949494
$gray-light = #c9c9c9
$off-white = #f4f4f4
$white = #fff

$bg = #fff
$fg = $off-black
$primary= $off-black

// Project-specific colors
$bg-purple = #111044
$dark-purple = #0B1832
$purple = #5552CF
$blue = #5FE6F9
$yellow = #FDF200
$green = #1ED760
$red = #FB576F


$column-width = 40rem

$type-size = {
    xxx-small: {
        size: 10px,
        line-height: 1.65,
    }
    xx-small: {
        size: 11px,
        line-height: 1.65,
    }
    x-small: {
        size: 12px,
        line-height: 1.65
    }
    small: {
        size: 14px,
        line-height: 1.65   
    }
    root: {
        size: 16px,
        line-height: 1.65
    }
    medium: {
        size: 18px,
        line-height: 1.65
    }
    large: {
        size: 20px,
        line-height: 1.5
    }
    x-large: {
        size: 24px,
        line-height: 1.4
    }
    xx-large: {
        size: 32px,
        line-height: 1.4
    }
    xxx-large: {
        size: 40px,
        line-height: 1.4
    }
    xxxx-large: {
        size: 48px,
        line-height: 1.2
    }
		xxxxx-large: {
        size: 64px,
        line-height: 1.2
    }
}
