<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}

</head>

<body>
	

	{{> base/header 'sticky'}}

	<main id='content'>

		<div class="controls">
			<div class="sliderContainer">
				<div id="DSPrevenue"></div>
				<label for="DSPrevenue">Streaming platform revenue</label>
				</div>
			<div class="sliderContainer">
				<div id="TotalOtherStreams"></div>
				<div class="details">
				<label for="TotalOtherStreams">Total other streams = <span id="Totalstreams-text">10,000,000,000</span></label>
				</div>
			</div>
			<div class="sliderContainer">
				<div id="Trackstreams"></div>
				<div class="details">
				<label for="Trackstreams">Track streams = <span id="Trackstreams-text">250,000,000</span></label>
				</div>
			</div>
			<div class="sliderContainer">
				<div id="Artistshare"></div>
				<div class="details">
				<label for="Artistshare">Artist share = <span id="Artistshare-text">85%</span></label>
				</div>
			</div>
		</div>

		{{!-- <div id="coinPath-Container">
			<div class="coinImg-Conatiner">
				<div id="coinImgG1"><img class="coinImg" id="coinImg1" src="./assets/images/money_neon.png" alt="white circle icon of a dollar sign"></div>
				<div id="coinImgG2"><img class="coinImg" id="coinImg2" src="./assets/images/money_neon.png" alt="white circle icon of a dollar sign"></div>
				<div id="coinImgG3"><img class="coinImg" id="coinImg3" src="./assets/images/money_neon.png" alt="white circle icon of a dollar sign"></div>
				<div id="coinImgG4"><img class="coinImg" id="coinImg4" src="./assets/images/money_neon.png" alt="white circle icon of a dollar sign"></div>
			</div>
			<svg id="coinPath">
				<g id="coinGroup1"><path id="coinPath1"></path></g>
				<g id="coinGroup2"><path id="coinPath2"></path></g>
				<g id="coinGroup3"><path id="coinPath3"></path></g>
				<g id="coinGroup4"><path id="coinPath4"></path></g>
			</svg>
		</div> --}}

		<div id="story-Container">
			{{> story/intro }}

			{{> story/content }}
		</div>


	</main>

	{{> base/footer }}


	<script src='{{basepath}}assets/scripts/d3.v6.0.0.min.js'></script>
	<script src='bundle.js?version={{timestamp}}' async></script>
</body>

</html>