<div class='intro'>
	<h1 class='intro__hed'>{{{meta.title}}}</h1>
	<p class='intro__byline'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>
	</p>
</div>