<div class='intro'>
	<div class='intro-icons'>
		<img src='/assets/images/artist_neon.png' class='intro-artist' alt='neon purple icon of microphone'>
		<img src='/assets/images/note_neon_1.png' class='intro-note' alt='neon blue icon of music note'>
		<img src='/assets/images/dollar_neon.png' class='intro-dollar' alt='neon green of a dollar sign'>
	</div>
	<h1 class='intro__hed'>{{{meta.titleSpan}}}</h1>
	<p class='intro__byline'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>
	</p>
</div>